/* .ant-row.ant-form-item-row{
    align-items:baseline;
    flex-wrap: unset !important;
}
.ant-radio-group.ant-radio-group-outline{
    display:inline-flex;
} */


.clsMobileElement {
    width: 59%; 
}
.clsTextMe{
    margin-left: 50px;
}
.clsEcontact{
    width: 49.5%;
}
.ant-upload{
    width: 450px;
}
@media  screen  and (max-width:600px){
    .clsMobileElement {
        width: 100% !important;
        
    }
    .clsTextMe{
        margin-left: 30px;
    } 
}