.ant-tabs-tab{
    border-radius: 7px 7px 0 0 !important;
    /* margin: 0 5px 0 0 !important; */
    width: 256px !important;
    text-align: center !important;
    justify-content: center;
    background-color: #bdbdbd !important;
    font-size: 14px;
    
}
.ant-tabs-tab.ant-tabs-tab-active{
    background-color: #454545 !important;
}
.ant-tabs-tab.ant-tabs-tab-active >.ant-tabs-tab-btn{
    color: white !important;
}
.ant-tabs-tab-btn:hover{
    color: black !important;
}

